<div class="card_container">
  <% @articles.each do |article| %>
  <div class="hoverable_card">
    <div class="card mb-2 p-2">
      <div class="card-title border-bottom">
        <h3 class="text-primary-emphasis"><%= article.title %></h3>
      </div>
      <div class="card-body">
        <%= article.content[0..150] %>...
      </div>
    </div>
  </div>
  <%end%>
</div>
