<div class="card_container">
  <div class="border-bottom">
    <div class="mb-4 d-flex align-items-center">
      <h2 class="text-primary-emphasis"> <%= @article.title %> </h2>
      <%= link_to 'modify content', edit_article_path(@article), { class:'ms-2' } %>
    </div>
  </div>

  <div>
    <p>
      <%= @article.content %>
    </p>
  </div>
</div>
